<div class="mdl-grid">
    <div class="top mdl-cell mdl-cell--12-col">
        <h4>Handlekurv</h4>
        <button md-icon-button>
            <md-icon>close</md-icon>
        </button>
        <hr>
    </div>
    <div class="btn mdl-cell mdl-cell--6-col">
        <button md-raised-button><md-icon >add</md-icon>Produkt</button>
    </div>
    <div class="btn mdl-cell mdl-cell--6-col">
        <button md-raised-button><md-icon >person</md-icon>Kunde</button>
    </div>
    <div class="btn mdl-cell mdl-cell--12-col">
        <button md-raised-button><md-icon >star</md-icon>Rabatt</button>
    </div>
    <div class="mdl-cell mdl-cell--12-col"></div>
    <div class="mdl-cell mdl-cell--12-col"></div>
</div>
