.mdl-grid {
    width: 310px;
}
.top {
    position: relative;
}
.top button {
    position: absolute;
    top: 0;
    right: 0;
}
h4 {
    margin: 0;
    text-align: center;
}
md-icon {
    color: #757575;
}
.btn button {
    background: transparent;
    width: 100%;
}
.btn md-icon {
    vertical-align: middle;
}
