<md-tab-group>
    <md-tab>
        <template md-tab-label><a [routerLink]="['/']">Home</a></template>
        <template md-tab-content>
        </template>
    </md-tab>
    <div *ngFor="let cat of categories">
        <md-tab *ngIf="cat.type == 'parent'">
            <template md-tab-label><a [routerLink]="['/category', cat.id]">{{cat.name}}</a></template>
        </md-tab>
    </div>
</md-tab-group>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col" *ngFor="let product of products">
        <md-card>
            <img md-card-image src="{{product.products_images[0]}}">
            <md-icon *ngIf="!product.products_images">photo</md-icon>
            <md-card-title>{{product.products_name}}</md-card-title>
            <md-card-content>{{product.products_price_ex_tax * product.products_tax_percentage + ',-'}}</md-card-content>
            <md-card-actions align="center">
                <button md-button color="primary">Produktinfo</button>
            </md-card-actions>
        </md-card>
    </div>
</div>
