<md-sidenav-layout fullscreen>
    <md-sidenav #sidenav>
        <md-nav-list>
            <a md-list-item [routerLink]="['/']" (click)="sidenav.close()">
                <md-icon md-list-icon>home</md-icon>
                <span md-line>Forside</span>
            </a>
            <a md-list-item>
                <md-icon md-list-icon>play_arrow</md-icon>
                <span md-line>Start kassasalg</span>
            </a>
            <a md-list-item>
                <md-icon md-list-icon>stop</md-icon>
                <span md-line>Stop kassasalg</span>
            </a>
            <a md-list-item>
                <md-icon md-list-icon>print</md-icon>
                <span md-line>Kvitteringsutskrift</span>
            </a>
            <a md-list-item [routerLink]="['/settings']" (click)="sidenav.close()">
                <md-icon md-list-icon>settings</md-icon>
                <span md-line>Innstillinger</span>
            </a>
            <a md-list-item>
                <md-icon md-list-icon>power_settings_new</md-icon>
                <span md-line>Logg ut</span>
            </a>
        </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
        <button md-icon-button>
            <md-icon>search</md-icon>
        </button>
        <span class="toolbar-fill"></span>
        <button md-icon-button>
            <md-icon>receipt</md-icon>
        </button>
        <button md-icon-button (click)="sidecart.toggle()">
            <md-icon>shopping_cart</md-icon>
        </button>
    </md-toolbar>
    <router-outlet></router-outlet>
    <md-sidenav #sidecart align="end" mode="side" opened="true">
        <app-cart></app-cart>
    </md-sidenav>
</md-sidenav-layout>
