md-tab-group {
    min-height: initial;
}
:host >>> md-tab-group .md-tab-header {
    overflow-x: scroll;
}
:host >>> md-tab-group .md-tab-header::-webkit-scrollbar {
    display: none;
}
:host >>> md-tab-group .md-tab-label {
    min-width: 75px;
    padding: 0px;
}
:host >>> md-tab-group .md-tab-label a {
    color: initial;
    display: block;
    padding: 0 12px;
    text-decoration: none;
}
