        <md-tab-group>
            <md-tab>
                <template md-tab-label>Generelt</template>
                <template md-tab-content>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <form [formGroup]="form">
                                <md-card>
                                    <md-list>
                                        <md-list-item>
                                            <h4 md-line>Automatisk kvitteringsutskrift</h4>
                                            <p md-line>Aktiver for å skrive ut kvittering automatisk etter kjøp.</p>
                                            <md-slide-toggle></md-slide-toggle>
                                        </md-list-item>
                                        <md-list-item>
                                            <h4 md-line>Vis desimaler</h4>
                                            <p md-line>Vis desimaler i priser</p>
                                            <md-slide-toggle formControlName="decimals"></md-slide-toggle>
                                        </md-list-item>
                                        <md-list-item>
                                            <h4 md-line>Vis null-desimaler</h4>
                                            <p md-line>Vis desimaler når beløp er hel krone</p>
                                            <md-slide-toggle formControlName="dispzero"></md-slide-toggle>
                                        </md-list-item>
                                    </md-list>
                                </md-card>
                            </form>
                        </div>
                    </div>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>Forside</template>
                <template md-tab-content>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>Avansert</template>
                <template md-tab-content>
                </template>
            </md-tab>
        </md-tab-group>
